server:
  port: 8003

spring:
  application:
    name: monolith-app

  datasource:
    url: jdbc:postgresql://localhost:21320/mydb?sslmode=disable
    username: myuser
    password: mypassword

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false

logging:
  level:
    org.hibernate.SQL: warn