server:
  port: 8082

spring:
  application:
    name: route-service
  datasource:
    url: jdbc:postgresql://localhost:21320/mydb?sslmode=disable   # <-- same host mapping
    username: myuser
    password: mypassword
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false